<main>
  <section>
    <div class="contenedor-imgangular">
      <div class="img-angular">
        <img src="angular_gradient.png" width="500" alt="Imagen Angular" class="logo">
      </div>
    </div>

    <div class="contenedor-tabla">

      <div class="contenedor-busqueda-btnuevo">

        <div class="contenedor-busqueda">

          <mat-form-field class="campos-busqueda-width">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Ingrese para Buscar" type="text" />
            <button mat-icon-button matSuffix aria-label="Buscar">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="contenedor-btnuevo">
          <button matFab extended>
            Nuevo
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>

      </div>

      <div class="tabla-inventario">
        <mat-table [dataSource]="salas" class="tabla-inv">

          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef class="fila">Nombre</mat-header-cell>
            <mat-cell *matCellDef="let salas">{{ salas.nombre }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="disponibilidad">
            <mat-header-cell *matHeaderCellDef class="fila">Disponibilidad</mat-header-cell>
            <mat-cell *matCellDef="let salas">{{ salas.disponibilidad }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="ACCIONES">
            <mat-header-cell *matHeaderCellDef class="fila">Acciones</mat-header-cell>
            <mat-cell *matCellDef="let pelicula">
              <button mat-icon-button aria-label="Editar" class="btn-editar" matTooltip="Editar"
                matTooltipPosition="above">
                <mat-icon class="icono-editar">edit</mat-icon>
              </button>
              <button mat-icon-button aria-label="Eliminar" class="btn-eliminar" matTooltip="Eliminar"
                matTooltipPosition="above">
                <mat-icon class="icono-eliminar">delete_forever</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
      </div>
    </div>

    <div class="contenedor-btnsalir">
      <button matFab (click)="regresar()">
        <mat-icon class="icono-salir">exit_to_app</mat-icon>
      </button>
    </div>

  </section>
</main>
