<main>
  <section>
    <div class="contenedor-registro">
      <div class="titulo">
        <h1>Registro Pelicula</h1>
      </div>
      <br>
      <div class="formulario-registro">

        <mat-form-field class="campos-registro-width">
          <mat-label>Nombre</mat-label>
          <input matInput  placeholder="Ingrese Nombre" type="text" name="nombre" />
          <mat-icon matSuffix fontIcon="attribution"></mat-icon>
        </mat-form-field>

        <mat-form-field class="campos-registro-width">
          <mat-label>Duracion</mat-label>
          <input matInput  placeholder="Ingrese Duracion" type="text" name="duracion" />
          <mat-icon matSuffix fontIcon="category"></mat-icon>
        </mat-form-field>

        <br>
        <br>

        <div class="contenedor-btregistro">
          <button mat-flat-button>
            Registrar
            <mat-icon>app_registration</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
