<main>
  <section class="section">
    <div class="contenedor-logo">
      <div class="logo-app">
        <img src="angular_material.png" width="200" height="200" alt="Logo de LibroTrack" class="logo">
      </div>
      <br>
      <div class="letra-logo">
        <h1>Powered by Angular</h1>
        <br>
        <h1>Fast, Modern & Reliable</h1>
      </div>
    </div>

    <div class="contenedor-login">
      <div class="cabecera-login">
        <h1>Sign In</h1>
      </div>
      <div class="campos-login">
        <mat-form-field class="campos-login-width">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ingrese su Usuario" type="text" [(ngModel)]="usuario" aria-label="Usuario" />
          <mat-icon matSuffix fontIcon="account_box"></mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="campos-login-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ingrese su contraseña" type="password" [(ngModel)]="contrasena"
            aria-label="Contraseña" />
          <mat-icon matSuffix fontIcon="password"></mat-icon>
        </mat-form-field>
      </div>
      <br>
      <div class="ingresar-login">
        <button mat-flat-button (click)="ingresar()">Sign In</button>
      </div>

      @if (error) {
      <div class="mensaje-error">
        <p>Credenciales incorrectas. Intente nuevamente.</p>
      </div>
      }
    </div>
  </section>
</main>
