.principal-tablero {
  display: flex;
  height: 100vh;
  background-color: #fff0d4;
}

.contenedor-tablero {
  flex: 1;
}

.menu-lateral {
  width: 220px;
  background-color: #bc5090;
  color: white;
}

mat-list-item {
  cursor: pointer;
  padding: 12px;
  font-weight: 500;
}

mat-list-item:hover {
  background-color: #ffd380;
}

.contenido-tablero {
  padding: 24px;
}

.seccion-tablero h2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.tarjetas-indicadores {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tarjeta-indicador {
  flex: 1 1 250px;
  min-width: 250px;
  background-color: #fff0d4;
}
